.categoryMoviePictures {
    width: 100%;
    margin: 5px 0 0 3px;
}

.categories-container {
    max-height: calc(100vh - 280px);
}

.secondLine {
    margin-top: 3px;
    max-height: calc(100vh - 300px);

}

.title {
    text-align: center;
    color: white;
}