.categoryMoviePictures {
    /*width: 100%;*/
    margin: 3px 0 0 3px;
}

.categories-container {
    margin-bottom: 20px;
}

.allMovies {
    /*margin-top: 3px;*/
    display: flex;
    flex-wrap: wrap;
    margin: 3px;
}

.title {
    text-align: center;
    color: white;
    font-weight: initial;
}

#show-more-movies-button {
    margin: 15px 0 20px 0;
    color: #ff8c00;
    border: 1px solid #ff8c00;
    border-radius: 5px;
    background-color: #212429;
    text-shadow: 2px 2px 2px black;
    box-shadow: 2px 2px 2px black;
    width: 100%;
}