.information {
    color: white;
}

#title {
    text-shadow: 5px 5px 5px black;
}

.playIcon {
    color: white;
    position: absolute;
    top: 30%;
    padding-left: 100px;
    opacity: 0.5;
    cursor: pointer;
}

.detailsImage {
    height: 480px;
    box-shadow: 0 15px 15px #1B1B1B;
    width: 100%;
}

.detailsImage:hover{
    cursor: pointer;
}

#description {
    color: white;
    margin-top: 25px;
}

#tagline {
    color: white;
    font-style: italic;
    font-weight: initial;
}

.titles {
    color: #ff8c00;
    text-shadow: 2px 2px 2px black;
}

#libraryButton {
    color: #ff8c00;
    border: 1px solid #ff8c00;
    background-color: #212429;
    box-shadow: 2px 2px 2px black;
    text-shadow: 2px 2px 2px black;
    border-radius: 5px;
}

.video {
    max-width: 50%;
}

.cast {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hideTrailerButton {
    margin-top: 15px;
    color: #ff8c00;
    border: 1px solid #ff8c00;
    background-color: #212429;
    text-shadow: 2px 2px 2px black;
    box-shadow: 2px 2px 2px black;
    border-radius: 5px;
    width: 100%;
}

.detailsContainer {
    margin: 0;
}

#backgroundDetails {
    height: 480px;
    width: 1300px;
    z-index: -1;
    position: absolute;
    opacity: 0.2;
}