.cast-pictures {
    margin-right: 5px;
    margin-top: 10px;
}

.cast-pictures:hover {
    box-shadow: 0 15px 15px #1B1B1B;
    transform: scale(1.08);
}

#credits-title {
    color: white;
    text-align: center;
}

.actor-name {
    color: white;
    margin-bottom: -5px;
}

.character-name {
    color: #ababab;
}

#show-cast-button {
    margin: 15px 0 20px 0;
    color: #ff8c00;
    border: 1px solid #ff8c00;
    border-radius: 5px;
    background-color: #212429;
    text-shadow: 2px 2px 2px black;
    box-shadow: 2px 2px 2px black;
    max-width: 100%;
    display: grid;
    place-items: center;
}