.information {
    color: white;
}

#title {
    text-shadow: 5px 5px 5px black;
}

.playIcon {
    color: white;
    position: absolute;
    top: 35%;
    margin-left: 150px;
    opacity: 0.5;
    cursor: pointer;
}

.detailsImageContainer {
    display: grid;
    place-items: center;
}

.detailsImage {
    max-width: 400px;
    height: 600px;
    box-shadow: 0 15px 15px #1B1B1B;
    width: 100%;
}

.detailsImage:hover{
    /*opacity: 70%;*/
    cursor: pointer;
}

#description {
    color: white;
    margin-top: 25px;
}

#tagline {
    color: white;
    font-style: italic;
    font-weight: initial;
}

.titles {
    color: #ff8c00;
    text-shadow: 2px 2px 2px black;
}

#libraryButton {
    color: #ff8c00;
    border: 1px solid #ff8c00;
    background-color: #212429;
    box-shadow: 2px 2px 2px black;
    border-radius: 5px;
}

.video {
    max-width: 50%;
}

.cast {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}