body {
    background-color: #212429;
    margin: 0;
    height: 100%;
}

.container {
    min-height: calc(100vh - 70px);
}

a {
    text-decoration: none;
}

.home-title {
    color: white;
    font-weight: initial;
    margin: 20px 0 0 5px;
}

.see-more {
    font-size: 16px;
    color: #ababab;
    width: 20%;
}

.home-movie-pictures {
    margin: 5px 0 0 3px;
}

.home-images:hover {
    box-shadow: 0 15px 15px #1B1B1B;

    transform: scale(1.08);
}

.authForm label {
    color: #ff8c00;
    margin-top: 10px;
}

.authForm input {
    background-color: #1d2024;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    width: 100%;
    box-shadow: 1.5px 1.5px 1.5px black;
    text-align: center;
    color: darkorange;
}

.authForm {
    position: absolute;
    top: 20%;
    left: 39%;
    text-align: center;
    font-size: 13pt;
    width: 300px;
    height: 260px;
}

#registerBtn {
    margin-top: 15px;
    color: #ff8c00;
    border: 1px solid #ff8c00;
    background-color: #212429;
    text-shadow: 2px 2px 2px black;
    box-shadow: 2px 2px 2px black;
}

#loginBtn {
    margin-top: 15px;
    color: #ff8c00;
    border: 1px solid #ff8c00;
    background-color: #212429;
    text-shadow: 2px 2px 2px black;
    box-shadow: 2px 2px 2px black;
}

.error-notification {
    background-color: darkred;
    color: white;
    width: 300px;
    border-radius: 5px;
    margin-top: 8px;
    text-align: center;
}

#search {
    display: none;
}

footer {
    color: #ff8c00;
    text-align: center;
    margin-top: 30px;
    /*bottom: 0;*/
}

