body {
    background-color: #212429;
    margin: 0;
}

a {
    text-decoration: none;
}

.top-navbar a {
    float: left;
    text-align: center;
    padding: 16px 10px;
    text-decoration: none;
    color: #ff8c00;
    font-size: 14pt;
}

#logo {
    float: left;
    padding: 8px;
}

.top-navbar a:hover {
    opacity: 50%;
}

.right-nav {
    float: right;
}

ul {
    /*color: white;*/
}

#landing-image {
    max-width: 100%;
}

.home-images {

}

.home-images:hover {
    box-shadow: 0 15px 15px #1B1B1B;

    transform: scale(1.08);
}

#landing-h2 {
    color: white;
    text-align: center;
    margin: 15px;
}

#landing-text {
    color: #ababab;
    text-align: center;
    margin: 25px;
    font-weight: lighter;
}

#landing-text a {
    text-decoration: underline;
    font-weight: bold;
    color: #ababab;
}

#landing-text a:hover {
    color: white;
}

.authForm label {
    color: #ff8c00;
    margin-top: 10px;
}

.authForm input {
    background-color: #1d2024;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    width: 100%;
    box-shadow: 1.5px 1.5px 1.5px black;
    text-align: center;
    color: darkorange;
}

.authForm {
    position: absolute;
    top: 20%;
    left: 39%;
    text-align: center;
    font-size: 13pt;
    /*border: 2px solid #1d2024;*/
    /*border-radius: 50px;*/
    width: 300px;
    height: 260px;
    /*background-color: #1d2024;*/
}

#registerBtn {
    margin-top: 15px;
    color: #ff8c00;
    border: 1px solid #ff8c00;
    background-color: #212429;
    text-shadow: 2px 2px 2px black;
    box-shadow: 2px 2px 2px black;
}

#loginBtn {
    margin-top: 15px;
    color: #ff8c00;
    border: 1px solid #ff8c00;
    background-color: #212429;
    text-shadow: 2px 2px 2px black;
    box-shadow: 2px 2px 2px black;
}

#search-icon {
    margin-top: 19px;
    float: right;
    cursor: pointer;
}

#search-icon:hover {
    opacity: 50%;
}

.home-title {
    color: white;
    font-weight: initial;
    margin: 20px 0 0 5px;
}

.see-more {
    font-size: 16px;
    color: #ababab;
    width: 20%;
}

.trailer-link {
    margin-right: 100px;
    color: white;
    position: absolute;
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
}

.movie {
    color: white;
    font-weight: lighter;
}

.home-movie-pictures {
    margin: 5px 0 0 3px;
}

.error-notification {
    background-color: darkred;
    color: white;
    width: 300px;
    border-radius: 5px;
    margin-top: 8px;
    text-align: center;
}

.dropdown-menu {
    background-color: #212429;
    text-align: left;
    border: 1px solid #ff8c00;
}

.dropdown-divider {
    color: #ababab;
}

footer {
    color: #ff8c00;
    text-align: center;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
}